Repository conway-hash/discord-activity-tictactoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-client, eslint-server, prettier

eslint-client:
  name: ESLint (client)
  entry: npx eslint --max-warnings=0
  language: system
  pass_filenames: true

eslint-server:
  name: ESLint (server)
  entry: npx eslint --max-warnings=0
  language: system
  pass_filenames: true

prettier:
  name: Prettier Check
  entry: npx prettier --check
  language: system
  pass_filenames: true

chore: testing pass_filenames - false
  .pre-commit-config.yaml
Due: prettier

chore: last fix for pre-commit
  .pre-commit-config.yaml
  server/src/server.ts
Due: eslint-server, prettier

chore: test commit on bad server code
  server/src/server.ts
Due: eslint-server, prettier

chore: another test for pre-commit
  .pre-commit-config.yaml
  server/src/server.ts
Due: eslint-server, prettier

chore: another test for pre-commit
  server/package-lock.json
Due: prettier

chore: another test for pre-commit
  .pre-commit-config.yaml
  server/eslint.config.mjs
Due: prettier

chore: another test for pre-commit
  .pre-commit-config.yaml
  server/package-lock.json
Due: prettier

chore: another test for pre-commit
  .pre-commit-config.yaml
  server/package-lock.json
  server/src/server.ts
Due: eslint-server, prettier

chore: another test for pre-commit
  .pre-commit-config.yaml
  server/eslint.config.mjs
  server/package-lock.json
  server/src/server.ts
Due: eslint-server, prettier

feat: users can now join and leave a session inside activity
  client/src/App.tsx
  client/src/GameBoard.tsx
  client/src/Landing.tsx
  client/src/components/Button.tsx
  client/src/components/GameBoard.tsx
  client/src/components/SpectatorList.tsx
  client/src/main.tsx
  client/src/store/useWebSocketStore.ts
  client/src/styles.css
  client/styles.css
  server/src/server.ts
  shared/types.ts
Due: eslint-client, eslint-server, prettier

feat: added functional tictactoe game logic
  client/src/components/GameBoard.tsx
  client/src/store/useWebSocketStore.ts
  server/src/server.ts
  shared/types.ts
Due: eslint-client, eslint-server, prettier

Path conditions:
  eslint-client: any of: ^client/.*\.(js|jsx|ts|tsx)$
  eslint-server: any of: ^server/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^.*\.(js|jsx|ts|tsx|json|yaml|yml|md)$
